.navbar {
  background-color: aqua;
  border: 3px solid black;
  width: 100vw;
  height: 3rem;
}

.navbar img {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
