.product {
  border: 1px solid black;
  max-width: 700px;
  background-color: burlywood;
  height: 18rem;
  display: flex;

  margin-bottom: 20px;
}

.product--image {
  width: 300px;
}

.product--image img {
  height: 18rem;
  width: 250px;
}

.product--info {
  max-width: 300px;
}
